body {
  background-color: #E8E8E8;
}

.top {
  margin: auto;
  position: relative;
  top: 15px;
  width: 600px;
  height: 110px;
  background-color: #28A7E0;
  border-radius: 20px 20px 0px 0px;
}

.input-window {
  display: inline-block;
  position: relative;
  left: 24px;
  top: 24px;
  width: 462px;
  height: 62px;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.input-text {
  position: relative;
  top: 22px;
  left: 24px;
  width: 100px;
  color: #2E2E2E;
}

.add {
  display: inline-block;
  position: relative;
  top: 24px;
  left: 37px;
  width: 76px;
  height: 61px;
  background-color: #1F88B7;
  border-radius: 20px;
  text-align: center;
}

.add span {
  position: relative;
  top: 20px;
  font-weight: bold;
  color: #FFFFFF; 
}

span {
  font-family: Roboto;
}

.bottom {
  margin: 0 auto;
  position: relative;
  top: 15px;
  display: grid;
  grid-template-rows: repeat(3, 63px);

  width: 600px;
  height: 720px;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
}

.a {
  grid-area: 1 / 1 / 2 / 1;
  background-color: #28A7E01A;
}

.box {

}

#bottom-border {
  border-bottom: 5px solid #000000;
  position: absolute;
  left: 10%;
  right: 10%;
}