@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box; /* box model */
  color: #2E2E2E;
  margin: 0;
}

body {
  background-color: #E8E8E8;
}
.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
  min-height: 400px;
  height: 100vh;
  padding: 48px 0;
}
/* The top part of the app (in blue) */
.header {
  position: relative;
  padding: 24px;
  display: flex;
  flex-grow: 0;
  background-color: #28A7E0;
  border-radius: 20px 20px 0px 0px;
}

.input-text {
  border-radius: 20px;
  background-color: #FFFFFF;
  position: relative;
  flex-grow: 1;
  border: 0;
  font-size: 1rem;
  padding: 12px;
  margin-right: 12px;
  width: 100px;
  color: #2E2E2E;
}

/* 'Add' button box */
.add {
  display: inline-block;
  position: relative;
  background-color: #1F88B7;
  border-radius: 20px;
  padding: 24px;
  border: 0;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

/*Styling the list grid */
.bottom {
  flex-grow: 1;
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 63px);
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
}

/* Highlighting the selected list item box */
.a {
  grid-area: 1 / 1 / 2 / 1;
  background-color: #28A7E01A;
}

/* Marking 'finished job text' with a line-through */
.c {
  text-decoration-line: line-through;
}

/*Item*/
.box {
  position: relative;
  padding-left: 31px;
  padding-top: 13px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* The  list item barely visible underline */
.box::after {
    content: "";
    background: #E8E8E8;
    position: absolute;
    bottom: 0;
    left: 25px;
    height: 1px;
    width: 551px;
}

/* Hiding the default input box */
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Creating a new checkmark box */
.checkmark {
  display: inline-block;
  margin-right: 12px;
  position: relative;
  height: 21px;
  width: 21px;
  top: 6px;
  left: 0;
  border-radius: 50%;
  border: 1px solid #2E2E2E;
}

/* (To save code for other task maybe). On mouse-over, add light blue background color */
/*.box:hover input ~ .checkmark {
  background-color: lightseagreen;
}
*/

/* Checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Triggering the new checkmark box to appear */
.box input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the checkmark/indicator */
.box .checkmark:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 7px;
  border: solid #2E2E2E;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The delete sign box 'x' */
.xbox {
  display: inline-block;
  position: absolute;
  left: 550px;
  top: 17px;
  margin-top: 0;
  margin-left: auto;
  margin-right: 0;
  height: 29px;
  width: 29px;
}

/* A 'x' sign in the box */
.xbox::after {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\d7";
  color: #e03e28b2;
  font-size: 40px;
  line-height: 28px;
  font-weight: 400;
}